name: Build
on: 
  push:
    branches:
      - main
    tags:
      - v*.*.*
  pull_request:
jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: ps2dev/ps2dev
    steps:
      - uses: actions/checkout@v2
      - run: apk add python3 make gmp-dev mpfr-dev mpc1-dev zip git
      - run: make assets
      - run: echo "using PS2 SDK @ $PS2SDK"
      - run: platform=PS2 make src/liblua.a
      - run: VERSION=dev PLATFORM=ps2 IN_PIPELINE=true make release
      - uses: actions/upload-artifact@v3
        with: 
          name: engine package
          path: ./*.zip
        if: ${{ github.ref == 'refs/heads/main' || startsWith(github.ref, 'refs/tags') }}


